@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import "theme.css";

:root {
    overflow-x: hidden;
    scrollbar-width: none;
    --theme-color-pumpkin: #ff7518;
    --theme-color-blue: #007acc;
    --underline-color: var(--theme-color-blue);
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    padding: 0;
    margin: auto 0 0;
}

.footerLink {
    cursor: crosshair;
}

.footer {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    /*background-color: white;*/
    /*background: linear-gradient(to bottom, hsl(var(--background), 500%, 400%), transparent);*/
    justify-content: space-around;
}

* {
    font-family: "Syne", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-style: normal;
}

.center {
    height: 100%;
    width: 100%;
    text-align: center;
}

.homeContainer {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: center;
}

.title {
    font-size: large;
    position: relative;
    transition: .2s ease-in-out;
}

.title::before {
    position: absolute;
    content: "";
    background: var(--underline-color);
    top: 100%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    bottom: 0;
    border-radius: 100%;
    transition: .2s ease-in-out;
}

.title:hover::before {
    width: 100%;
}

.navbar {
    padding-top: 8px;
    padding-inline: 8px;
    position: sticky;
    top: 0;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    margin-bottom: 69px;
    z-index: 1;
}

.navbar.active {
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    margin-inline: 42px;
    background: var(--background);
    color: var(--color);
    padding: 8px;
    border-bottom: solid #007acc;
    transition: 0.2s ease-in-out;
}

.ham {
    display: none;
}

.ham > span {
    cursor: pointer;
}

.ham-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
}

.friendMovies{
    display: flex;
    justify-content: center;
    gap: 32px;
}

.movieName {
    color: var(--underline-color);
    filter: brightness(100%);
    font-size: larger;
    font-weight: bold;
    transition: .2s ease-in-out;
}

.movieName:hover {
    filter: brightness(200%);
}

.navLink {
    text-decoration: none;
    padding-inline: 16px;
}

.login-container {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.goTo {
    visibility: hidden;
    text-decoration: none;
    font-size: medium;
    opacity: .5;
    color: white;
    transition: .2s ease;
}

.goTo:hover {
    opacity: 1;
}

.form {
    padding: 32px;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid var(--underline-color);
}

.status {
    background-color: var(--underline-color);
    color: black;
    border-radius: 8px;
}

.status > p {
    padding: 16px;
    color: white;
    text-align: center;
}

.remove {
    filter: brightness(69%);
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.remove:hover {
    filter: brightness(200%);
}

.suggestedMovies {
    animation: fade-blur-in .2s ease-out;
    transition: .2s ease-in-out;
    cursor: pointer;
    z-index: 111;
}

.suggestedMovies:hover {
    color: var(--underline-color);
}

.movie-list {
    display: block;
    max-height: 269px;
    overflow: auto;
}

.movieCard {
    max-width: 50%;
    text-align: center;
}

.not-watched {
    width: 100%;
}

#queue {
    min-width: 100%;
}

.poster {
    width: 50%;
    background: gray;
    transition: .2s ease;
    border-radius: 3px;
}
.themeToggler{
    cursor: pointer;
    margin: 8px;
}
.poster:hover {
    scale: 1.2;
    box-shadow: 0 0 42px 6px black;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-blur-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1050px) {
    .movieCard {
        max-width: 100%;
    }
    .menu-list {
        display: none;
    }
    .title{
        font-size: medium;
    }
    .ham {
        display: flex;
        gap: 8px;
        align-items: center;
    }
    .goTo {
        visibility: visible;
    }
}