@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
/*@import '../../node_modules/@picocss/pico/css/pico.pumpkin.min.css';*/


*{
    font-family: "Syne", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
