[data-theme="light"] {
    --background: #f8f8f8;
    --color: #13171f;
}

[data-theme="dark"] {
    --background: #13171f;
    --color: #f8f8f8;
}

html {
    margin: 0;
    padding: 0;
    background: var(--background);
    color: var(--color);
}


