@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import '@picocss/pico/css/pico.min.css';


*{
    font-family: "Syne", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
